<nav class="navbar">
  <div class="logo">
    <a class="logo" routerLink="/">LOGO</a>
  </div>
  <ul class="nav-links">
    <li *ngFor="let route of navLinks">
      <a [routerLink]="route.path">{{ route.label }}</a>
    </li>
  </ul>
  <div class="search-bar">
    <input placeholder="Search" type="text">
  </div>
  <div class="options-section">
    <div class="option-button">
      <app-custom-icon
        [path]="'account.svg'"
        class="icon" routerLink="/login">
      </app-custom-icon>
    </div>
    <div class="mobile-menu-button">
      <div (click)="toggleMenu()" class="option-button">
        <app-custom-icon
          [path]="'menu.svg'"
          class="icon" routerLink="/login">
        </app-custom-icon>
      </div>
    </div>
  </div>
  <ng-template [ngIf]="isMenuOpen">
    <div (click)="isMenuOpen=false" id="overlay"></div>
    <ul [ngClass]="{'mobile-menu':isMenuOpen}" class="nav-links">
      <li (click)="toggleMenu()" class="option-button">
        <app-custom-icon
          [path]="'menu.svg'"
          class="icon" routerLink="/login">
        </app-custom-icon>
      </li>
      <li (click)="isMenuOpen=false" *ngFor="let route of navLinks">
        <a [routerLink]="route.path">{{ route.label }}</a>
      </li>
    </ul>
  </ng-template>
</nav>


