.listings-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:0.5rem;
}
.listing{
  min-width:30%;
  max-width:50%;
  max-height:100rem;
  margin: 0.5rem;
  flex: 1 0 30%;
}

@media only screen and (max-width: 768px){
  .listings-body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .listing {
    //margin:0;
    display: flex;
    width: 100%;
    max-width:100%;
    margin:0 0 1rem 0;
    flex: 0 0 0;
  }
}
